baseURL = '/'
languageCode = 'en-us'
title = "Cherry's Blog"
theme = ["github.com/panr/hugo-theme-terminal/v4"]

[mediaTypes]
[mediaTypes."text/org"]
  suffixes = ["org"]
  delimiter = "."

[outputFormats]
[outputFormats.ORG]
  mediaType = "text/org"
  isPlainText = true
  isHTML = false

[outputs]
  home = ['html', 'rss', 'org']
  section = ['html', 'rss', 'org']
  taxonomy = ['html', 'org']
  term = ['html', 'org']

[services]
  [services.rss]
    limit = 42

[caches]
  [caches.images]
    dir = ':cacheDir/images'

[markup]
  [markup.highlight]
    noclasses = false
  [markup.goldmark.renderer]
    unsafe = true

[params]
  subtitle = "My blog to write about personal and programming stuff, just that"
  contentTypeName = "posts"
  showMenuItems = 3
  fullWidthTheme = true
  centerTheme = true
  readingTime = true

[languages]
  [languages.en]
    title = "Cherry's Blog"
    subtitle = "My blog"
    keywords = "tech, music, other-things"
    copyright = ""

    [languages.en.params]
      menuMore = "Show more"
      readMore = "Read more"
      readOtherPosts = "Read other posts"

    [languages.en.params.logo]
      logoText = "Cherry's Blog"
      logoHomeLink = "/"

    [languages.en.menu]
      [[languages.en.menu.main]]
        identifier = "about"
        name = "About"
        url = "/about"
      [[languages.en.menu.main]]
        identifier = "tags"
        name = "Tags"
        url = "/tags"
      [[languages.en.menu.main]]
        identifier = "recommendation-list"
        name = "My recommendation list"
        url = "/recommendation-list"
        
[module]
  # this is needed when you fetch the theme as a submodule to your repo.
  # replacements = "github.com/panr/hugo-theme-terminal/4 -> themes/terminal"
[[module.imports]]
  path = 'github.com/panr/hugo-theme-terminal/v4'
